
.form-contact {
  display: flex;
  flex-direction: column;
}

.ligne-champs {
  display: flex;
  gap: 10px;
  max-width: 410px;
  justify-content: center;
  margin: 0 auto;
}

.champ-formulaire {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 0 auto;

  label {
    align-self: flex-start;
  }
}

#prenom,
#nom {
  width: 200px;
}

#email,
#message {
  width: 410px;
  max-width: 100%;
}

.btn-primaire {
  display: block;
  margin: 1rem auto 0 auto;
}