@use 'variables';

.definition {
  max-width: variables.$max-width-small;
  border-radius: 10px;
  background-color: variables.$color-card;
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
}

.s-e {
  padding-left: 15px;

  ol {
    list-style: none;
    counter-reset: item;
    padding-left: 15px;
  }

  li {
    counter-increment: item;
    display: flex;
    gap: 0.75rem;

    &::before {
      content: counter(item) ".";
      min-width: 1.5rem;
    }
  }
}

.details {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(8, auto);

  grid-template-areas:
    "p1 p1 ."
    ". i1 . "
    ". p2 p2"
    ". i2 . "
    "p3 p3 ."
    ". i3 . "
    ". p4 p4"
    ". i4 . ";
}

.p1 {
  padding-top: 1.5rem;
  grid-area: p1;
}

.i1 {
  padding-top: 1.5rem;
  grid-area:i1;
}

.p2 {
  padding-top: 1rem;
  grid-area: p2;
}

.i2 {
  padding-top: 1.5rem;
  grid-area:i1;
}

.p3 {
  padding-top: 1rem;
  grid-area: p3;
}

.i3 {
  padding-top: 1.5rem;
  grid-area:i1;
}

.p4 {
  padding-top: 1rem;
  grid-area: p4;
}

.i4 {
  padding-top: 1.5rem;
  grid-area:i1;
}

.details div {
  h2 {
    background: red;
    color: bisque;
    padding-left: 0.5rem;
  }

  p {
    text-align: justify;
    background: bisque;
  }
}