@use 'variables';

.text-center-italic-red {
  text-align:center;
  font-style: italic;
  color:variables.$color-red;
  margin: 1rem;
}

.text-center-italic {
  text-align: center;
  font-style: italic;
}

.my-10 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}


