$color-dark: #222;
$color-light: white;
$color-header: black;
$color-hover: #444;

$color-title: #333;
$color-red: red;
$color-green: green;

$color-card: #27ebf5;
$color-encadre: bisque;

$max-width-small: 400px;
$max-width-medium: 600px;
$max-width-large: 700px;

$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;

$font-main: 'Roboto', sans-serif