@use 'variables';
@use 'reset';
@use 'utilities';
@use 'header';
@use 'home';
@use 'ssa';
@use 'contact';

body {
  font-family: variables.$font-main;
  background: white;
  color:variables.$color-dark;
}